
#form {
    width: 500px;
    height: 550px;
    border-style: solid  ;
    padding-left: 10px;
    padding-top: 10px;
    text-indent: 0cm;
    border-color:blueviolet;
    background-color:white;
    text-align: justify;
    
   
}

span{
    color: red;
}
